<div class="jumbotron center" >
    <h1>Welcome the SSSB Section TDY Application</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis 
exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio 
amet ab temporibus asperiores quasi cupiditate.</h2>
    <%= link_to "Sign up now", "#", class:"btn btn-lg btn-primary" %>
</div>

